@media screen and (max-width: 1020px){

    header{
        flex-direction:column;
    }

    main{
        flex-direction:column;
    }

    p{
        text-align: left;
        margin: auto;
        flex-direction:column;
    }

    h2{
        font-size: 38px;
    }

    form{
        margin: 0 auto;
        width: 80%;
    }

    input{
        align-self: center;
    } 

    img{
        display: none;
    }

    ul{
        text-align: center;
        margin-right: 50px;
    }

    #inscreva-se-btn{
        text-align: center;
    }

}